@import "../../../../styles/vars";

.navbar {
  background-color: $primaryColor;
  display: flex;
  color: white;

  .nav-items-menu {
    margin: 1rem 0;
    a {
      text-decoration: none;
      color: white;
    }
    display: flex;
    padding: 0;
    flex: 1;
    li {
      margin: 0 0.5rem;
      list-style: none;
      .brand {
        padding: 0;
        @include flexCenter();
        transition-duration: 0.5s;
        text-decoration: none;
        color: white;
        margin-right: 1rem;
        font-weight: 800;
        &:hover {
          background: transparent;
          color: white;
        }
      }
      .active {
        background-color: white;
        color: $primaryColor;
      }
      a {
        padding: 0.5rem 1rem;
        border-radius: 8px;
        font-weight: 500;
        transition-duration: 0.5s;
        span {
          margin-right: 0.5rem;
          font-size: 1.2rem;
        }
        &:hover {
          background-color: white;
          color: $primaryColor;
        }
      }
    }
  }
  .auth-btns {
    display: flex;
    li {
      list-style: none;
      button {
        background: none;
        border: none;
      }
      a,
      button {
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        font-weight: 500;
        transition-duration: 0.5s;
        span {
          margin-right: 0.5rem;
          font-size: 1.2rem;
        }
        &:hover {
          background-color: white;
          color: $primaryColor;
        }
      }
    }
  }
}
