.dashboard-page {
  margin: 1rem;
}

.dashboard-page h1 {
  font-size: 2rem;
}

.dashboard-page .search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-page .search-wrapper input {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.dashboard-page .search-wrapper a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background-color: #6cad8a;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-left: 1rem;
  border-radius: 5px;
  font-weight: 600;
  border: none;
  color: white;
  outline: none;
}

.dashboard-page .search-wrapper a:hover {
  background-color: #4fce8a;
}

.dashboard-page .all-polls {
  border-bottom: 1px solid #ddd;
}

.dashboard-page .all-polls p {
  font-size: 1.2rem;
  margin-bottom: 0;
  border-bottom: 2px solid #6cad8a;
  display: inline-block;
  padding-bottom: 5px;
}

.dashboard-page .polls-header {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.dashboard-page .polls-header ul {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-page .polls-header ul li {
  list-style: none;
}

.dashboard-page .polls-header header {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem 0;
}

.dashboard-page .polls-header header ul:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dashboard-page .polls-header header ul:nth-child(1) input {
  margin-right: 0.5rem;
}

.dashboard-page .polls-header header ul:nth-child(1) label {
  font-weight: 600;
  cursor: pointer;
}

.dashboard-page .polls-header header ul:nth-child(2) li {
  text-align: center;
}

.dashboard-page .polls-header header ul:nth-child(2) li button {
  width: 80px;
  font-weight: 600;
  background: transparent;
  margin: 0 0.5rem;
  border: none;
  cursor: pointer;
}

.dashboard-page .polls-header header ul:nth-child(2) li button:hover {
  color: #4fce8a;
}

.dashboard-page .polls-header header ul:nth-child(2) li button:disabled {
  color: black;
  cursor: not-allowed;
}

.dashboard-page .polls-wrapper {
  padding: 0.5rem 0;
}

.dashboard-page .polls-wrapper ul {
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard-page .polls-wrapper ul li {
  list-style: none;
}

.dashboard-page .polls-wrapper article {
  border-bottom: 1px solid #ddd;
}

.dashboard-page .polls-wrapper article .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.8rem 0;
}

.dashboard-page .polls-wrapper article .content ul:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.dashboard-page .polls-wrapper article .content ul:nth-child(1) input {
  margin-right: 0.5rem;
}

.dashboard-page .polls-wrapper article .content ul:nth-child(2) li {
  padding: 0 0.4rem;
  text-align: center;
  width: 80px;
  margin: 0 0.5rem;
}

.dashboard-page .polls-wrapper article .content ul:nth-child(2) li button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}

.dashboard-page .polls-wrapper article .content ul:nth-child(2) li button:active {
  color: #ddd;
}

.dashboard-page .polls-wrapper article .content ul:nth-child(2) li button .fa-angle-down {
  padding: 5px 7px;
  border-radius: 50%;
}

.dashboard-page .polls-wrapper article .content ul:nth-child(2) li button .fa-angle-down:active {
  background-color: #ddd;
}

.dashboard-page .polls-wrapper article section {
  background-color: rgba(238, 238, 238, 0.8);
  border-radius: 5px;
  margin: 0 0.5rem;
  margin-bottom: 5px;
  padding: 1rem;
}
/*# sourceMappingURL=main.css.map */